{{ define "header" }}
{{ partial "post/header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner animated fadeIn faster">
		<article class="thin">
			<header class="post-header">
				{{- with .Params.tags }}
				<div class="post-tags">
					{{- range . -}}
					<span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{.}}</a></span>
					{{- end }}
				</div>
				{{- end }}
			</header>

			{{- if (or .Params.images .Params.featuredImg) }}
			<div class="featured-image">
				<img src="{{.Params.featuredImg}}">
			</div>
			{{- end }}

			<div class="post-content">
				{{ .Content | safeHTML }}
			</div>
			{{- if .Site.Params.relatedPosts }}
			{{- partial "related-posts.html" . -}}
			{{- end }}
			<hr class="post-end">
			<a class="post-to-top-link" href="#">⮝ Başa dön</a>
		</article>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
