@import 'variables';

#home-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100vh;

    max-width: 720px;
    margin: auto;
    font-size: 1.5rem;

    @media (max-width: 768px) {
        margin-left: 24px;
    }
}

#home-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16vh;
}


#home-nav {
    display: flex;
    flex-direction: column;

    a {
        color: $color-light-dark;
        font-family: $default-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
    }

}
