$default-font: 'Inter', sans-serif;
$color-dark: #202020;
$color-medium-dark: #303030;
$color-grey: #5C5C5C;
$color-light-dark: #252525;

@mixin default-width {
    max-width: 720px;
    margin: auto;

    @media (max-width: 768px) {
        margin: 0px 24px;
    }
}
