@import "_syntax.scss";
@import "home";

$default-font: 'Inter', sans-serif;
$color-dark: #202020;
$color-medium-dark: #303030;
$color-grey: #5C5C5C;
$color-light-dark: #252525;

@mixin font-style-normal {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

%link-shared {
    color: #252525;
    font-family: Inter;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
    /* 60px */
    text-decoration-line: underline;
}

%footer-shared {
    width: 100%;

    p {
        color: #5C5C5C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        gap: 8px;
        justify-content: center;
    }

    a {
        color: #5C5C5C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        gap: 8px;
        justify-content: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

body {
    font-family: Inter;
    line-height: 1.4;
    background-color: #ebf4f3;
    margin: 0;
}

#post-title {
    color: #202020;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}

.post-header {
    margin-bottom: 40px;
}

.post-meta {
    margin-top: .5em;
    span {
        color: #303030;
    }
}

.post-tags {
    margin: 10px 0;
    display: flex;
    gap: 6px;

    .tag {
        font-size: .7em;
        padding: 3px 14px;
        text-transform: lowercase;
        border: 1px solid;
        margin-bottom: 6px;

        a {
            outline: none;
            text-decoration: none;
            color: #5C5C5C;
        }
    }
}

#home-footer {
    @extend %footer-shared;
}

#site-footer {
    @extend %footer-shared;
}

.posts-group {
    width: 400px;
}

.back-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    a {
        text-decoration: none;
        color: #656565;

        &:hover {
            text-decoration: underline;
            color: #151515;
        }
    }
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    a {
        @extend %link-shared;
        font-size: 30px;
    }

    .post-day {
        @extend %link-shared;
        font-size: 30px;
        text-decoration: none;
        color: #787878;
    }
}

.pagination {
    display: flex; /* Enable flexbox layout */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Adjust margin as needed */
    justify-content: center; /* Center the pagination items */
    align-items: center;
    font-family: Inter;
    a {
        text-decoration: none;
        color: #252525;
    }
}

.pagination .page-item {
    margin: 0; /* Adjust margin between items as needed */
}

.pagination .page-link {
    display: block; /* Make the link fill the li element */
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 0 2px; /* Space out the page links */
}

#site-footer {
    width: 100%;
    user-select: none;

    #copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#home-footer {
    width: 400px;
}

[aria-disabled="true"] {
    text-decoration: none !important;
  }

.page-item {
    &.active {
        a {
            text-decoration: none !important;
        }
    }
}

.content {
    max-width: 720px;
    font-size: 1em;
    color: #303030;
}
