@import "variables";
@import "_syntax.scss";
@import "home";
@import "posts";

body {
    font-family: $default-font;
    line-height: 1.4;
    background-color: #ebf4f3;
    margin: 0;
}

#header-title {
    color: $color-dark;
    font-family: $default-font;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.post-header {
    margin-bottom: 40px;
}

#site-footer {
    width: 100%;

    p {
        color: #5C5C5C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        gap: 8px;
        justify-content: center;
    }

    a {
        color: #5C5C5C;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        gap: 8px;
        justify-content: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.pagination {
    display: flex; /* Enable flexbox layout */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Adjust margin as needed */
    justify-content: center; /* Center the pagination items */
    align-items: center;
    font-family: Inter;
    a {
        text-decoration: none;
        color: #252525;
    }
}

.pagination .page-item {
    margin: 0; /* Adjust margin between items as needed */
}

.pagination .page-link {
    display: block; /* Make the link fill the li element */
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 0 2px; /* Space out the page links */
}

#site-footer {
    width: 100%;
    user-select: none;

    #copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

[aria-disabled="true"] {
    text-decoration: none !important;
  }

.page-item {
    &.active {
        a {
            text-decoration: none !important;
        }
    }
}
