{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main id="posts-list">
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{ range (.Paginate .Pages.ByPublishDate ).Pages }}
		<p class="post-item">
			<a href="{{.Permalink}}">
				<span class="post-title">{{.Title}}</span>
			</a>
		</p>
		{{ end }}
	</main>
{{ end }}

{{ define "footer" }}
<div id="posts-footer">
	{{ partial "pagination.html" . }}
	{{ partial "footer.html" . }}
</div>
{{ end }}
